div {
  width: 480px; 
  margin: 0 auto; 
}

#a img {
  width: 480px;
  height: 75px;
}

#b img {
  width: 480px;
  height: 150px;
}

#c img, #d img {
  width: 480px;
  height: 125px;
}

.twoColContainer {
  width: 480px;

}
#e img, #f img, #g img, #h img {
  width: 240px;
  height: 250px;
}

#e img, #g img {
  float: left;
}
#f img, #h img {
  float: right;
}

#i img {
  width: 480px;
  height: 80px;
}

@media only screen and (min-width:960px){
  div {
    width: 960px;
  }
  #a img {
    width: 960px;
    height: 100px;
  }
  #b img {
    float: left;
    width: 200px;
    height: 600px;
  }
  #c img, #d img {
    width: 380px;
    height: 200px;
  }
  #c img {
    float: left;
  }
  #d img {
    float: right;
  }
  #e img, #f img, #g img, #h img {
    width: 190px;
    height: 250px;
    float: left;
  }
  .twoColContainer {
    width: 380px;
    float: left;
  }
  #i img {
    width: 760px;
    height: 150px;
  }
}